<!-- Site Header -->
<app-exhibition-header></app-exhibition-header>

<!-- Site Body -->
<div class="exhibition-main main " *ngIf="data_Info$|async as dataInfo">
    <div class="info-cover">
        <ng-container *ngIf="dataInfo._haveImg"></ng-container>
        <img src="assets\img\cover.jpg">
    </div>
    <div class="main-container">
        <div class="info-title block-div">
            {{dataInfo._title}}
        </div>

        <div>
            <div class="block-div content-align info-desc" infoDescription>
                {{dataInfo._descriptionFilterHtml}}
            </div>
        </div>
        <div class="title-div font-size-header ">展覽時間</div>
        <div class=" block-div info-title" 展覽時間block>
            {{dataInfo._startDate}}
            <span>~</span>
            {{dataInfo._endDate}}
        </div>

        <div class="title-div font-size-header ">展覽地點</div>
        <div class=" block-div info-title" 展覽地點block>
            <div>
                {{dataInfo._showInfo_Property._locationName}}
            </div>

            <iframe [src]="dataInfo._locationMapUrl" width="80%" height="450" frameborder="0" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <ng-container *ngIf="dataInfo._showInfo_Property?._onSales_bool">
            <div class="title-div font-size-header ">售票資訊</div>
            <div class="block-div info-title" 售票資訊block>
                <div>
                    {{dataInfo._showInfo_Property._price}}
                </div>
                <div>
                    {{dataInfo._discountInfo}}
                </div>
            </div>
        </ng-container>

        <div>
            <button class="info-goback" (click)="goBack()">回上一頁</button>
        </div>

    </div>
</div>