.search-filter {
    //padding: 40px 0;
}


.search-filter-container {
    //padding: 40px 0;
}

.search-result {
   
    
}

.search-result-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
    margin: 40px 0;
    
}