<!-- Site Header -->
<app-exhibition-header></app-exhibition-header>


<!-- Site Body -->
<div class="exhibition-main">
    <div class="search-filter">
        <div class="search-filter-container">
            <!-- Search Bar -->
            <div class="search-bar">
                <input type="text" placeholder="Search"  #searchInput  (input)="searchSubmit(searchInput.value)">
            </div>
            <!-- Search Filter Option -->
            <div name="searchfilter" style="height: 50px; background-color: antiquewhite;">
            </div>
        </div>
    </div>


    <div class="search-result">
        <div class="search-result-container" *ngIf=" data_searchResult$ | async as dataExhibitions">
            <ng-container *ngFor="let data of dataExhibitions">
                <div class="exhibition-card">
                    <div [ngClass]="{'search-card-img-empty':!data._haveImg}"
                        class="exhibition-card-img search-card-img">
                        <img [src]="data._imageUrl" />
                    </div>
                    <div class="exhibition-card-title">{{data._title}}</div>
                    <div class="exhibition-card-info">
                        <div>
                            {{data._startDate}}
                            <span>~</span>
                            {{data._endDate}}
                        </div>
                        <div>
                            <ng-container *ngFor="let item of data._showInfo">
                                <div *ngIf="!((item._locationName).includes('='));else masterUnit">
                                    {{item._locationName}}
                                </div>
                                <ng-template #masterUnit>
                                    {{data._masterUnit}}
                                </ng-template>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

</div>