<!-- Site Header -->
<app-exhibition-header></app-exhibition-header>


<!-- Site Body -->
<div class="exhibition-main">
    <div class="search-filter">
        <div class="search-filter-container">
            <!-- Search Bar -->
            <div class="search-bar">
                <input type="text" placeholder="Search" #searchInput (input)="searchSubmit(searchInput.value)"
                    [value]="searchValue">
            </div>
            <!-- Search Filter Option -->
            <!-- <div name="searchfilter" style="height: 50px; background-color: antiquewhite;"> </div> -->
        </div>
    </div>


    <div class="search-result">
        <div class="search-result-container" *ngIf="(data_searchResult$ | async)?.length;else noneResult">
            <ng-container *ngFor="let data of (data_searchResult$ | async)">
                <div class="exhibition-card" routerLink="/detail/{{data._UID}}">
                    <div [ngClass]="{'search-card-img-empty':!data._haveImg}"
                        class="exhibition-card-img search-card-img">
                        <img [src]="data._imageUrl" />
                    </div>
                    <div class="exhibition-card-title">{{data._title}}</div>
                    <div class="exhibition-card-info">
                        <div>
                            {{data._startDate}}
                            <span>~</span>
                            {{data._endDate}}
                        </div>
                        <div>
                            {{data._locationName_Show}}
                          
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <ng-template #noneResult>
            <div class="search-result-none">
                <div>查無資料</div>
            </div>
        </ng-template>
    </div>

</div>