// Site Footer
.exhibition-footer {
    height: 100px;
    background-color: rgba(190, 190, 190, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}