/* You can add global styles to this file, and also import other style files */
html,body{
    font-family: 'Noto Sans TC';
     // width: 100% ;
    // height: 100% ;
    min-width: 1000px;
}


button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.align-right {
    position: absolute;
    right: 0;
    bottom: 0;
}


.font-size-header {
    font-size: 32px;
    letter-spacing: 8px;


}

.font-size-header-child {
    font-size: 24px;
    letter-spacing: 3px;
}

.title-div {
    width: 40%;
    background-color: rgba(190, 190, 190, 1);
    text-align: right;
    padding: 20px;
    margin: 8% 0 0;
}


.block-div {
    padding: 40px 0;
}

.exhibition-main {
    margin-top: 4%;
}




.exhibition-card {
    
    height: 50%;
    background-color: rgba(190, 190, 190, 0.6);
    display: flex;
    flex-direction: column;
    padding: 10px;

    .exhibition-card-img {
        margin: auto;
        overflow: hidden;
    
        img {
            width: 100%;
        }
    }
    .exhibition-card-title {
        font-size: 20px;
    }
    .exhibition-card-info{
        display: flex;
        flex-direction: row;
        flex-wrap: inherit;
        justify-content: space-between;
        align-content: center;
        gap: 50px;
    }
}

.card-block{
    width: 40%;
}


